<div class="choose-direction">
  <a href="/westbound">
    <span class="direction">Westbound</span> to 15-16th &amp; Locust, Philadelphia
  </a>
  
  <br /><br />

  <a href="/eastbound">
    <span class="direction">Eastbound</span> to Lindenwold, New Jersey
  </a>
</div>
