<div class="choose-direction">
  <a href="/westbound">
    <span class="direction">WESTBOUND</span> to 15-16th &amp; Locust
  </a>
  
  <br />

  <a href="/eastbound">
    <span class="direction">EASTBOUND</span> to Lindenwold
  </a>
</div>
