<!--<% if Rails.env.development? %>
  <%= render 'debug' %>
<% end %>-->

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-3 text-center station-name">
      <img src="/assets/pin.png" class="pin align-middle" /> 
      <h2 class="d-inline align-middle"><%= @theStation.stop_name %></h2>
    </div>
  </div>
</div>

<div class="container next-to">
  <div class="row justify-content-center">
    <div class="col-12 col-md-3 text-center">
      <h3>NEXT TO<br />PHILADELPHIA</h3>
      <div> <%= render :partial => 'next_upcoming', :locals => { :trains => @toPhiladelphia, :upcomingClass => 'to-phila' } %> </div>
    </div>

    <hr class="hidden-md-up" />

    <div class="col-12 col-md-3 text-center">
      <h3>NEXT TO<br />LINDENWOLD</h3>
      <div> <%= render :partial => 'next_upcoming', :locals => { :trains => @toLindenwold, :upcomingClass => 'to-lindenwold' } %> </div>
    </div>
  </div>
</div>

<div class="container back-to-stations">
  <div class="row">
    <div class="col text-center">
      <a href="/" class="back-link">Back to stations</a>
    </div>
  </div>
</div>
