// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Page break sizes
$mobile: 400px;
$desktop: 401px;

body {
  font-family: 'SourceSansProRegular';
  text-align: center;

  @media all and (max-width: $mobile) {
    margin: 0 auto;
    width: 320px;
  }
}

a {
  color: #000;
  border-bottom: 1px dashed #000;
  text-decoration: none;

  &:hover {
    color: #c0c0c0;
  }
}
header {
  margin: 0 auto 2em;

  .site-logo {
    display: block;
    margin: 0 auto;
    width: 100px;
  }
}

/* Index page */
#stops {
  text-align: left;
  margin: 0 auto;
  width: 65%;

  @media all and (min-width: $desktop) {
    width: 10em;
  }

  img {
    height: 16px;
    vertical-align: middle;
    width: 16px;
  }

  a {
    color: #000;
    border: 0;
    display: block;
    margin: 1em 0;
    text-decoration: none;

    @media all and (max-width: $mobile) {
      padding: 0.5em;
    }
  }
}

/* Station page */
.station-name {
  font-family: 'SourceSansProItalic';

  img {
    display: inline-block;
    vertical-align: middle;
    height: 22px;
    width: 22px;
    margin: 0 .25em 0 0;
  }
}

div.time-listing {
  display: inline-block;
  overflow:hidden;
  vertical-align: top;
  width: 18em;

  .time {
    color: #c0c0c0;
    font-size: 1.5em;
    margin: 0 .5em 0 0;
    display: inline-block;

    &.next {
      color: #000;
      display: block;
      margin: 0 0 .25em;
      font-size: 3em;
    }

    .departs-in {
      display: block;
      font-size: .4em;
    }
  }

  ul.upcoming-trains {
    padding: 0;
    margin: 0;

    li {
      width: 3.5em;
    }
  }

  .navigation {
    @media all and (max-width: $mobile) {
      margin: .5em 0 0;
      text-align: center;
    }

    a:first-child {
      margin: 0 1em 0 0;
    }
  }
}

hr {
  border: 0;
  border-top: 1px solid #000;
  display: block;
  margin: 1.5em auto;
  width: 75%;

  @media all and (min-width: $desktop) {
    display: none;
  }
}

.caroufredsel_wrapper {
  margin: 0 auto !important;
}

div.footer {
  font-size: .75em;
  line-height: 1.25em;
  text-align: center;
  margin: 1.75em auto;

  @media all and (min-width: $desktop) {
    width: 42em;
  }
}
