<header class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-3 text-center">
      <a href="/"><%= image_tag("train-circle.png", :class => 'logo') %></a>
    </div>
  </div>

  <div class="row justify-content-center mb-4">
    <div class="col-12 col-md-3 text-center">
      <h2 class="text-center">NEXT PATCO</h2>
    </div>
  </div>

  <div class="row justify-content-center mt-4 mb-3 mx-3 special-message flex-column">
    <h3 class="text-center font-italic"><span class="font-weight-normal"></span>Schedule update</h3>
    <p class="text-center font-weight-bold">A new schedule taks effect as of Monday, February 8th. This site has <i>not</i> been updated, but will be when updated schedule data is available. Until then, please consult the <a href="http://www.ridepatco.org/pdf/PATCO_Timetable_2018-02-18.pdf" class="underlined" target="_blank">new schedule on RidePATCO.org</a>.</p>
  </div>
</header>
