<header class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-3 text-center">
      <a href="/"><%= image_tag("train-circle.png", :class => 'logo') %></a>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-md-3 text-center">
      <h2 style="text-align: center;">NEXT PATCO</h2>
    </div>
  </div>
</header>
