<header class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-3 text-center">
      <a href="/"><%= image_tag("train-circle.png", :class => 'logo') %></a>
    </div>
  </div>

  <div class="row justify-content-center mb-4">
    <div class="col-12 col-md-3 text-center">
      <h2 class="text-center">NEXT PATCO</h2>
    </div>
  </div>

  <div class="row justify-content-center mt-4 mb-3 mx-3 special-message flex-column">
    <h3 class="text-center font-italic">SPECIAL SCHEDULE</h3>
    <p class="text-center">As of March 17th, there is a special schedule in effect to reflect ridership changes due to the COVID-19 coronavirus. Times on this site are NOT updated. Please see the special schedule <a href="http://www.ridepatco.org/publish/library/PATCO_WeekdaySchedule_Effective3-17.pdf">here</a>.</p>
    </div>
</header>
